<h1>Cat Application Form</h1>

<form action="/cats" method="POST">
    <label>name: 
        <input 
            type="text" 
            name="cat[name]" 
            value="<%= @cat.name %>"/>
    </label>

    
    <input
        type="radio"
        name="cat[sex]"
        value="M"
        id="male"/>
    <label for="male">Male</label>
    <input
        type="radio"
        name="cat[sex]"
        value="F"
        id="female"/>
    <label for="female">Female</label>

    <label for="cat_color">Color</label>
    <select name="cat[color]" id="cat_color">
        <option disabled selected>--select color--</option>
        <% Cat::COLORS.each do |color| %>
            <option value ="<%= color %>">
                <%= color %>
            </option>

        <% end %>
    </select>
    
    <label>Birthdate</label>
    <input type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>"/>

    <label>Description</label>
    <textarea name="cat[description]" value="<%= @cat.description %>"></textarea>

    <input type="submit" value="submit"/>

    </form>



    